/* #BONUS DUOTONE */
.imagine-duotone {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 350px;
    margin: 10px auto;
    background-image: url("/resurse/imagini/imprimanta-1200x1000.png");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    filter: brightness(200%) grayscale(0);
    transition: all 2s linear;
    border: 3px solid var(--accent);
}

.imagine-duotone::after, 
.imagine-duotone::before {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 2s linear;
}

.imagine-duotone::after {
    background-color: rgb(0, 0, 255);
    mix-blend-mode: lighten;
    z-index: 1;
}

.imagine-duotone::before {
    background-color: rgb(205, 0, 255);
    mix-blend-mode: darken;
    z-index: 2;
}

.imagine-duotone:hover::after {
    background-color: rgb(255, 0, 0); 
}

.imagine-duotone:hover::before {
    background-color: rgb(255, 255, 0);
}

.imagine-duotone:hover {
    transform: scale(1.02);
}

@media (max-width: 600px) {
    .imagine-duotone {
        height: 250px;
    }
}
/* ##### */
