@media print {
  #proiect-scolar {
    display: block !important;
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    text-align: center;
    border: 1px dotted black;
    padding: 10px;
    margin: 0;
    z-index: 10002;
    background: white !important;
  }

  img, video, iframe, embed, object, figure, figcaption, 
  #video-container, #playlist-video, #imagine-zona1, 
  #link-top, .burger, #navbar-container,
  #meniu-video-container, #iframe-video-container, .buton-video-container {
    display: none !important;
  }

  .grid-container, main {
    display: block !important;
    background: white !important;
  }

  a {
    color: black !important;
    text-decoration: none !important;
  }

  header {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh; 
    page-break-after: always;
    background: white !important; 
    position: relative;
    z-index: 10001;
    border: none !important;
    box-shadow: none !important;
  }

  #logo-text {
    font-size: 2.5em !important;
    text-decoration: underline;
    color: black !important;
    text-shadow: none !important;
    text-align: center;
  }

  footer {
    page-break-before: always;
    background: white !important;
  }

  body::after {
    content: "STEMATE CATALIN";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    
    width: 400px;
    white-space: nowrap;
    
    color: rgba(0, 0, 0, 0.1) !important;
    font-size: 30px !important;
    font-weight: bold;
    text-transform: uppercase;
    
    border: 4px double rgba(0, 0, 0, 0.1) !important;
    padding: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 10000; 
    text-align: center;
  }

  @page {
    size: auto;
    margin: 0;
  }
  @page :left {
    margin: 1cm 0.5cm 1cm 2.5cm;
  }
  @page :right {
    margin: 1cm 2.5cm 1cm 0.5cm;
  }
}
