@charset "UTF-8";

:root {
    --primary: #7F9DF5;
    --secondary: #877FF5;
    --accent: #D47FF5;
    --ui: #88C7F7;
    --background: #F2F1FF;
    --page-padding: 5vw;
    --navbar-button-width: 150px;
    --navbar-button-height: 50px;
    --grid-gap: 40px;
    --culoare-visited: #9c27b0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

img, embed, iframe, video {
    width: 80%;
    max-width: 500px;
    min-width: 250px;
    height: auto;
}

iframe {
    width: 80%;
    aspect-ratio: 16/9;
    height: auto;
}

a:visited {
    color: var(--culoare-visited);
}

a[href^="http"]:not(.buton-video-container)::before {
    content: "↗";
    font-size: 1.5em;
    margin-right: 0.2em;
    display: inline-block;
    transition: color 0.3s;
    vertical-align: middle;
}

a[href^="http"]:not(.buton-video-container):hover::before {
    color: var(--accent);
}

main a:not(.buton-video-container):not(#link-top) {
    transition: background-size 0.5s ease;
    background-image: radial-gradient(var(--accent) 0%, var(--accent) 40%, transparent 80%, transparent 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0 0;
    text-decoration: underline;
}

main a:not(.buton-video-container):not(#link-top):hover {
    background-size: 100% 100%;
}

main a:active {
    outline: 2px solid var(--accent) !important;
    outline-offset: 2px;
}

video {
    width: 100%;
    max-width: 800px;
    min-width: 300px;
    height: auto;
    display: block;
    margin: 20px auto;
    border: 5px solid var(--secondary);
    border-radius: 8px;
}

video::cue {
    background-color: white;
    color: #363857; 
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

video::cue {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

header {
    display: flex;
    background: var(--primary);
    border-bottom: 3px solid var(--accent);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    align-items: center;
}

#logo-text {
    font-size: 50px;
    width: fit-content;
    font-family: "Bitcount Prop Double", system-ui;
    color: white;
    text-shadow: 0px 5px 5px var(--accent);
}

#navbar-container {
    width: fit-content;
    margin: 0 auto;
}

footer {
    background-color: var(--primary);
}

body {
    background-color: var(--background);
}

main {
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    padding-top: var(--grid-gap);
    padding-bottom: var(--grid-gap);
}

.grid-container > div {
    padding: 2vw;
    border-radius: 10px;
    background: linear-gradient(to right, var(--secondary), var(--accent));
    border: 2px solid var(--accent);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "zona1 zona1 zona1 zona1"
        "zona8 zona8 zona8 zona8"
        "zona3 zona2 zona2 zona4"
        "zona5 zona6 zona7 zona7";
    gap: var(--grid-gap);
}

.zona1 {
    grid-area: zona1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text-zona1 img-zona1";
}

#imagine-zona1 { grid-area: img-zona1; }
#text-zona1 { grid-area: text-zona1; }
.zona2 { grid-area: zona2; padding-left: 0; }
.zona3 { grid-area: zona3; }
.zona4 { grid-area: zona4; }
.zona5 { grid-area: zona5; }
.zona6 { grid-area: zona6; }
.zona7 { grid-area: zona7; }
.zona8 { grid-area: zona8; }

#video-container {
    display: flex;
    gap: 0px;
    width: 60%;
    margin: auto;
}

#meniu-video-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 200px;
}

.buton-video-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80px;
    padding: 10px;
    background: #d9dbef;
    border: 2px solid #6b6ea7;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    box-shadow: inset 0 2px 10px #363857;
}

#iframe-video-container {
    flex: 1;
    border: 10px solid #6b6ea7;
    aspect-ratio: 16/9;
}

#iframe-video-container iframe {
    height: 100%;
    min-width: 100%;
    max-width: 100%;
}

.buton-video-container:active {
    color: black;
}

.buton-video-container:visited {
    color: black;
}

.buton-video-container:hover {
    cursor: pointer;
    background: var(--secondary);
    color: white;
    transition: all 0.3s linear;
}

#playlist-video iframe {
    width: 40%;
    max-width: 900px;
    min-width: 250px;
    aspect-ratio: 16/9;
    height: auto;
    display: block;
    margin: auto;
}

#link-top {
    position: fixed;
    bottom: 0.3em;
    left: 0.3em;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    box-sizing: border-box;
    border: 5px solid grey;
    border-top: white;
    border-bottom: white;
    border-radius: 50%;
    background: rgb(220, 220, 220);
    transition: all 1s;
}

#triunghi {
    height: 0;
    width: 0;
    border-bottom: 1.5rem solid grey;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
}

#link-top:hover #triunghi {
    animation: animatie-link-top 1s ease-in-out infinite;
}

#link-top:hover {
    opacity: 1;
}

@keyframes animatie-link-top {
    0% { transform: translateY(0); border-bottom: 1.5rem solid grey; }
    100% { transform: translateY(-50%); border-bottom: 1.5rem solid orange; }
}

#container-tabel-costuri { overflow-x: auto; }
#tabel_costuri table { border-collapse: collapse; border: inset 6px #555; min-width: 600px; }
#tabel_costuri caption { caption-side: bottom; padding: 0.5em; }
#tabel_costuri th, #tabel_costuri td { border-left: 1px solid black; border-right: 1px solid black; padding: 0.5em; }
#tabel_costuri th { background: var(--ui); }
#tabel_costuri tbody tr:nth-child(even) { border-bottom: 1px solid #4da6ff; }
#tabel_costuri tbody tr:nth-child(odd) { border-bottom: 1px solid #ff7a7a; }
#tabel_costuri tbody tr { transition: outline 0.5s; }
#tabel_costuri tbody tr:hover { outline: 5px solid rgba(0,0,0,0.7); }

@media (max-width: 1000px) {
    :root { --grid-gap: 20px; --page-padding: 3vw; }
    img, embed, video, iframe { width: 90%; max-width: 300px; min-width: 200px; }
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "zona1 zona1"
            "zona8 zona8"
            "zona2 zona3"
            "zona4 zona5"
            "zona6 zona7";
    }
}

@media (max-width: 600px) {
    :root { --grid-gap: 10px; --page-padding: 1vw; }
    img, embed, video, iframe { width: 100%; max-width: 200px; min-width: 150px; }
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas: "zona1" "zona8" "zona2" "zona3" "zona4" "zona5" "zona6" "zona7";
    }
}

address iframe { width: 60%; max-width: 600px; min-width: 250px; aspect-ratio: 4/3; border: 0; }

@media (max-width:1000px) {
    *:not(.burger, .burger span) { animation: none !important; transition: none !important; }
}
