#container-anunt {
  width: 100%;
  overflow: hidden;
  background-color: var(--accent);
  color: white;
  padding: 10px 0;
  white-space: nowrap;
  position: relative;
  border-bottom: 2px solid var(--secondary);
  display: flex;
}

#text-anunt {
  display: inline-block;
  will-change: transform;
  animation: plimbare-anunt 15s linear infinite;
  font-weight: bold;
  font-size: 1.1rem;
  padding-right: 50px; /* Spatiu la finalul mesajului */
}

@keyframes plimbare-anunt {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}
#container-anunt:hover #text-anunt {
  animation-play-state: paused;
}