#galerie-animata {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  width: 100%;
  text-align: center;
  grid-column: 1/-1; /* Ocupa toata latimea daca e intr-un grid */
}
#galerie-animata h2 {
  margin-bottom: 20px;
}
@media (max-width: 1100px) {
  #galerie-animata {
    display: none;
  }
}

#border-galerie-animata {
  display: inline-block;
  padding: 0;
  border: 30px solid transparent;
  border-image-source: url("/resurse/imagini/galerie/galerie-border.png");
  border-image-slice: 30;
  border-image-repeat: round;
  background-color: #fff;
}

#container-galerie-animata {
  width: 440px; /* 500px minus borduri si padding */
  height: 380px;
  overflow: hidden;
  position: relative;
  background: #fff;
}

#grid-galerie-animata {
  width: 100%;
  height: 100%;
  position: relative;
}
#grid-galerie-animata figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 0;
  opacity: 0;
  transform-origin: left center;
  animation: animatie-galerie 28s linear infinite;
  display: flex;
  flex-direction: column;
}
#grid-galerie-animata figure img {
  width: 100%;
  height: 85%; /* Lasam loc pentru text */
  object-fit: cover;
}
#grid-galerie-animata figure figcaption {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--primary);
}
#grid-galerie-animata figure:nth-child(1) {
  animation-delay: 0s;
}
#grid-galerie-animata figure:nth-child(2) {
  animation-delay: 4s;
}
#grid-galerie-animata figure:nth-child(3) {
  animation-delay: 8s;
}
#grid-galerie-animata figure:nth-child(4) {
  animation-delay: 12s;
}
#grid-galerie-animata figure:nth-child(5) {
  animation-delay: 16s;
}
#grid-galerie-animata figure:nth-child(6) {
  animation-delay: 20s;
}
#grid-galerie-animata figure:nth-child(7) {
  animation-delay: 24s;
}
#grid-galerie-animata:hover figure {
  animation-play-state: paused;
}

@keyframes animatie-galerie {
  0% {
    z-index: 1;
    opacity: 0;
    transform: scaleY(1) rotate(0deg);
  }
  1% {
    opacity: 0.4;
  }
  12.8571428571% {
    z-index: 1;
    opacity: 0.4;
  }
  14.2857142857% {
    z-index: 10;
    opacity: 1;
  }
  24.2857142857% {
    z-index: 10;
    opacity: 1;
    transform: scaleY(1) rotate(0deg);
  }
  26.4285714286% {
    z-index: 10;
    opacity: 1;
    transform: scaleY(0.4) rotate(0deg);
  }
  28.5714285714% {
    z-index: 10;
    opacity: 0;
    transform: scaleY(0.4) rotate(90deg);
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}